.SideBar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 20px;
  gap: 20px;
}


.collapseButton {
  position: absolute;
  bottom: 20px;
  right: calc(-1 * var(--font-line-xl));
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.linkText {
  opacity: 1;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
    gap: 5px;
  }

  .linkText {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}

