
.link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.linkText {
  opacity: 1;
}


.collapsed {
  .linkText {
    opacity: 0;
    transition: opacity 0.2s;
    width: 0;
  }
}